//General
$bg-general: rgba(255, 245, 159, 0.5);
$font-general:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


//Productos
$bg-color-cards:rgba(255, 245, 159, 0.5);

//Modo Oscuro
$bg-dark: #202528;
$text-color-dark:#e4e6ea;